In [1]:
import numpy as np
import pandas as pd

In [2]:
dt = pd.read_csv('/Users/himms/Desktop/Hamoye/2 Machine Learning/energydata_complete.csv')

In [3]:
dt.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [6]:
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [7]:
x = dt[ 'T2' ]
y = dt[ 'T6' ]

In [8]:

x_train, x_test, y_train, y_test = train_test_split( x, y, train_size = 0.7, test_size = 0.3, random_state = 0 )

In [14]:
import statsmodels.api as sm

In [17]:
x_train_sm = sm.add_constant(x_train)

In [18]:
lr = sm.OLS(y_train, x_train_sm).fit()

In [19]:
x_test_sm = sm.add_constant(x_test)

In [20]:
y_pred = lr.predict(x_test_sm)

In [22]:
from sklearn.metrics import mean_squared_error

In [27]:
round((np.sqrt( mean_squared_error( y_test, y_pred ))),3)

3.61

In [88]:
new_dt =dt.drop(columns=['date', 'lights'])

In [89]:
new_dt.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [90]:
x = new_dt.iloc[:, 1:]
y = new_dt['Appliances']

In [91]:
from sklearn.model_selection import train_test_split

In [92]:
x_train, x_test, y_train, y_test = train_test_split (x, y,  test_size=0.3, random_state=42)

In [93]:
x_train.shape,x_test.shape

((13814, 26), (5921, 26))

In [94]:
from sklearn.preprocessing import MinMaxScaler

In [95]:
scaler = MinMaxScaler()   

scaler.fit(x_train)

MinMaxScaler()

In [105]:
x_test_scaled = scaler.transform(x_test)

In [106]:
model = LinearRegression().fit(x_train_scaled, y_train)

In [98]:
predictions = model.predict(x_test_scaled)

In [108]:
from sklearn.metrics import mean_squared_error, mean_squared_error

In [109]:
MAE = mean_absolute_error(y_test, predictions)

NameError: name 'mean_absolute_error' is not defined

In [110]:
MSE = mean_squared_error(y_test,predictions)

In [111]:
MSE

8768.535925051974

In [112]:
RMSE = np.sqrt(MSE)

In [113]:
RMSE

93.64046093998029